body{
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#rusetitle{
    font-family: Cheveuxdange;
    font-size: 6em;
    color: #C30000;
    text-align: center;
    display: block;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* width: 20%; */
}

#crimescenethumb{
    transform: rotate(-7deg);
    width: 30%;
    margin-left: 150px;
    margin-top: 50px;
}

#witnessthumb{
    transform: rotate(9deg);
    width: 22%;
    margin-left: 90px;
}
#suspect{
    transform: rotate(-9deg);
    width: 22%;
    margin-left: 90px;
}

@font-face {
    font-family: Cheveuxdange;
    src:"Cheveuxdange.ttf";
  }
